<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="TextEditor" value="notepad++.exe" />
        <add key="IgnoredFileTypes" value="exe,bin,dll,jpg,jpeg,gif,png,sln,csproj,zip,pdb,pdf,otf,ttf,woff,woff2,eot,svg,ico" />
    </appSettings>

</configuration>